section#eligibility {
    /* background: linear-gradient(
        90deg,
        rgba(45, 165, 255, 1) 45%,
        rgba(1, 223, 245, 1) 100%
    ); */
    /* text-align: center; */
    background: var(--dark-blue);
    color: var(--color-white);
}

.eligibility .u-title .eligibility-title {
    color: rgba(45, 165, 255, 1);
}