a {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 1rem;
}

a:hover {
    color: var(--color-purple);
    font-weight: 500;
}

a.btn {
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 8px;
}

a.btn-dark {
    border: 2px solid var(--color-white);
    background: transparent;
}

a.btn-purple {
    border: 2px solid transparent;
    background: #f704f7;
    color: var(--color-white);
}

a.btn-purple:hover {
    background-color: transparent;
    border: 2px solid #f704f7;
}