.features-content {
    display: flex;
    justify-content: center;
}

.features-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.features-right img {
    width: 100%;
}

.features-left {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .features-content {
        flex-direction: column;
    }
}